{% extends "loggedin.html" %}

{% block navbar %}
<a href="#">Home</a>
<a href="#">About</a>
<a href="#">Services</a>
<a href="#">Contact</a>
{% endblock navbar %}

{% block login %}
<button class="login-btn">
  <a href="/login" style="text-decoration: none; color: white;">Log In</a> <i>&#8594;</i>
</button>
{% endblock login %}

{% block main_container %}
<form method="get" action="{% url 'index' %}" class="search-form">
  <input type="text" name="event_name" placeholder="Search events" value="{{ request.GET.event_name }}">
  <input type="date" name="event_date" value="{{ request.GET.event_date }}">
  <button type="submit">Search</button>
</form>


<div class="card-container">
  {% for item in items %}
  <div class="card">
    <div class="card-content">
      <div class="title">{{ item.event }}</div>
      <div class="date">{{ item.date }}</div>
      <div class="description">{{ item.description }}</div>

      {% if item.image %}
      <button onclick="openModal('{{ item.id }}', '{{ item.image.url }}')">View Event</button>
      {% else %}
      <button onclick="openModal('{{ item.id }}', '')">View Event</button>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock main_container %}